.sidebar-container {
    height: 100%;
  }
  
  .sidebar-drawer {
    background-color: #3f51b5;
    border-right: 2px solid #1E3A53;
    padding-top: 12px;
  }
  
  .mat-list-item {
    width: 100%;
  }
  
  .sidebar-drawer button {
    color: white;
    width: 100%;
    height: max-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-drawer button:hover {
    background-color: #1E3A53;
    color: white;
  }
  