<mat-drawer-container class="mat-drawer-container">
    <mat-drawer mode="side" opened>
      <mat-nav-list>
        <mat-list-item role="listitem">
          <button mat-button color="primary" (click)="loadComponent('board')">Tablice</button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button color="primary" (click)="loadComponent('members')">Członkowie</button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button color="primary" (click)="loadComponent('settings')">Ustawienia</button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>          
      <div #componentContainer></div>
    </mat-drawer-content>
</mat-drawer-container>
