.mat-drawer-container {
    width: 100%;
    height: 100%;
    margin: 20px, 20px, 20px, 20px;
    background-color: cornsilk;
}
.mat-drawer{
    background-color: #335C81;
    border-right: 2px solid #1E3A53;
}
.mat-list-item{
    width: max-content;
}
.mat-drawer button{
    color: black;
    width: fit-content;
    height: max-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.mat-drawer button:hover{
    background-color: hsl(207, 50%, 50%);
    color: black;
}

.div-toDoList {
    width: 400px;
    max-width: 100%;
    margin: 25px 25px 25px 25px;
    display: inline-block;
    vertical-align: top;
}

.toDoList {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.toDoListElement {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}