<mat-drawer-container class="sidebar-container">
  <mat-drawer mode="side" opened class="sidebar-drawer">
    <mat-nav-list>
      <mat-list-item role="listitem">
        <button mat-button color="primary" [routerLink]="['/board']">Projects</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button color="primary" [routerLink]="['/members']">Members</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button color="primary" [routerLink]="['/settings']">Settings</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
