<div *ngIf="tables.length >= 0">
  <div class="tables-container">
    <mat-card class="table-card" *ngFor="let table of tables">
      <mat-card-header>
        <mat-card-title>{{ table.name }}</mat-card-title>
        <button mat-icon-button color="warn" (click)="deleteTable(table)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="table.elements && table.elements.length >= 0"
          cdkDropList
          id="list-{{table.id}}"
          [cdkDropListData]="table.elements"
          [cdkDropListConnectedTo]="connectedDropLists"
          class="example-list"
          (cdkDropListDropped)="drop($event, table)">
          <div *ngFor="let element of table.elements" class="example-box" cdkDrag>
            {{ element.name }}
            <span *ngIf="element.assignedUser">Currently assigned: {{ element.assignedUser.name }}</span>
            <span *ngIf="!element.assignedUser">Currently assigned: None</span>
            <button *ngIf="!element.assignedUser" mat-button (click)="takeTask(element)">Take Task</button>
            <button mat-button (click)="openAssignUserDialog(element)">Edit Assignment</button>
            <button mat-icon-button color="warn" (click)="deleteElement(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openCreateElementDialog(table)">Add Element</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button mat-fab color="primary" (click)="openCreateTableDialog()" class="add-table-button">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div *ngIf="tables.length === 0">
  <p>No tables available for this project.</p>
  <button mat-raised-button color="primary" (click)="openCreateTableDialog()">Add Table</button>
</div>
