<div *ngIf="tables.length >= 0">
  <div class="tables-container">
    <mat-card class="table-card" *ngFor="let table of tables">
      <mat-card-header>
        <mat-card-title>{{ table.name }}</mat-card-title>
        <button *ngIf="canMakeChanges()" mat-icon-button color="warn" (click)="deleteTable(table)" class="delete-button" matTooltip="Delete Table">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="table.elements && table.elements.length >= 0"
          cdkDropList
          id="list-{{table.id}}"
          [cdkDropListData]="table.elements"
          [cdkDropListConnectedTo]="connectedDropLists"
          class="example-list"
          (cdkDropListDropped)="drop($event, table)">
          <div *ngFor="let element of table.elements" class="example-box" cdkDrag>
            <div class="element-content">
              <div class="element-text">{{ element.name }}</div>
              <div class="element-assigned">Currently assigned: <span>{{ element.assignedUser ? element.assignedUser.name : 'None' }}</span></div>
            </div>
            <div class="element-actions">
              <button *ngIf="!element.assignedUser" mat-icon-button (click)="takeTask(element)" matTooltip="Take Task">
                <mat-icon>assignment</mat-icon>
              </button>
              <button *ngIf="canMakeChanges()" mat-icon-button (click)="openAssignUserDialog(element)" matTooltip="Edit Assignment">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="canMakeChanges()" mat-icon-button color="warn" (click)="deleteElement(element)" class="delete-element-button" matTooltip="Delete Element">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="openCreateElementDialog(table)">Add Element</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="add-table-container">
    <button mat-flat-button color="primary" (click)="openCreateTableDialog()" class="add-table-button">
      <mat-icon>add</mat-icon> Add Table
    </button>
  </div>
</div>
<div class="no-tables-card" *ngIf="tables.length === 0">
  <p>No tables available for this project.</p>
  <button mat-raised-button color="primary" (click)="openCreateTableDialog()">Add your first table</button>
</div>