<div *ngIf="isAuthenticated" class="board-container">
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search Projects</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="searchProjects()">
    </mat-form-field>
  </div>

  <div class="projects-container">
    <mat-card class="project-card" *ngFor="let project of filteredProjects">
      <mat-card-header>
        <mat-card-title>
          <span *ngIf="!project.editing">{{ project.name }}</span>
          <input *ngIf="project.editing" [(ngModel)]="project.name" class="edit-input">
        </mat-card-title>
        <mat-card-subtitle>Author: {{ getOwnerName(project.ownerId) }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button [routerLink]="['/project', project.id]" class="action-button view-button">
          <mat-icon>visibility</mat-icon> VIEW
        </button>
        <button *ngIf="canEditOrDelete()" mat-button (click)="toggleEdit(project)" class="action-button edit-button">
          <mat-icon>edit</mat-icon> {{ project.editing ? 'SAVE' : 'EDIT' }}
        </button>
        <button *ngIf="canEditOrDelete()" mat-button color="warn" (click)="deleteProject(project.id)" class="action-button delete-button">
          <mat-icon>delete</mat-icon> DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div *ngIf="!isAuthenticated" class="not-authenticated">
  <p>You must be logged in to view your projects.</p>
  <button mat-button [routerLink]="['/login']">GO BACK</button>
</div>
